.CartPage {
	.CartProductsContainer {
		display: flex;
		flex-flow: row wrap;
		width: 100%;

		.CartProductContainer {
			border: 1px solid black;
			flex-basis: 50%;
			display: flex;
			background-color: white;
			padding: 20px;
			position: relative;

			.ImageContainer {
				height: 40vh;
				img {
					width: unset;
					height: 80%;
				}
			}
			.otherDetails {
				flex-grow: 1;
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			.DeleteButton {
				position: absolute;
				right: 20px;
				cursor: pointer;
			}
		}
	}

	@media (max-width: 500px) {
		h3 {
			font-size: var(--h5);
		}

		.CartProductsContainer {
			.CartProductContainer {
				padding: 10px;
				flex-basis: 100%;

				.ImageContainer {
					flex-basis: 40%;
					align-items: center;
					align-content: center;

					img {
						height: 60%;
					}
				}
				.otherDetails {
					flex-basis: 60%;
					flex-grow: 0;
					justify-content: space-around;

					.Description {
						line-height: 1.5;
						font-size: calc(var(--base-size) * 0.8);
					}
				}
			}
		}
	}
}
