.CategoryPage {
	.SelectContainer {
		width: 20%;
		margin-bottom: 20px;
	}
	.CategoryContainer {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 20px;
		width: 100%;
		height: 100%;
	}

	@media (max-width: 500px) {
		h3 {
			font-size: var(--h5);
		}

		.SelectContainer {
			width: 50%;
		}
	}
}
