.ProductPage {
	display: flex;
	width: 100%;
	min-height: 100vh;
	padding: 20px;

	.ImageContainer {
		flex-basis: 50%;
		text-align: center;
		align-content: center;
		background-color: white;

		img {
			width: unset;
			height: 70vh;
		}
	}

	.DetailsContainer {
		padding: 20px;
		flex-basis: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 20px;

		.Details {
			display: flex;
			flex-direction: column;
			gap: 20px;
			h5 {
				font-weight: 500;
				margin-bottom: 0px;
			}

			.Description {
				line-height: 2.5;
			}

			.Price {
				font-weight: 500;
			}
		}
	}

	@media (max-width: 500px) {
		flex-direction: column;
		padding: 10px;

		.DetailsContainer {
			padding: 10px;
			padding-top: 0%;
			gap: 10px;

			.Details {
				gap: 10px;

				.Description {
					line-height: 1.5;
				}
			}
		}
	}
}
